.base {
    width: 100%;
    padding: 80px var(--page-padding-x);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--bg-color);
    position: relative;

    * {
        transition: all 250ms linear;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    z-index: 2;
    color: var(--text-color);
}

.topbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.theme_switch {
    all: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;

    color: white;
    background: var(--switch-bg);
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.12);

    border-radius: 100%;

}

.features {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    min-height: 40px;
}

.feature {
    background-color: var(--card-surface);
    padding: 24px;
    padding-top: 48px;
    padding-bottom: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.img_wrapper {
    background: var(--card-icon-bg);
    border-radius: 100%;
    padding: 16px;
    width: 64px;
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.img {
    width: 36px;
    height: auto;
    object-fit: contain;
}

.title {
    margin-bottom: 24px;
}

.subtitle {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    &__content {
        width: 100%;
    }

    &__cta {
        display: inline-block;
        color: #2b90ef;
        cursor: pointer;
    }
}

.ring {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    padding: 8px;
    position: absolute;
    z-index: 1;
    border: 8px solid #f0a44420;

    .inner {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-color: transparent;
    }
}

.ring1 {
    top: 16.8%;
    right: 16.8%;
    animation: anim-ring-1 3s ease-in-out 0s infinite alternate;
}

.ring2 {
    width: 128px;
    height: 128px;
    top: 55.73%;
    left: 47.36%;
    animation: anim-ring-2 3s ease-in-out 0s infinite alternate;
}

.ring3 {
    width: 128px;
    height: 128px;
    top: 62.32%;
    left: 84.16%;
    animation: anim-ring-3 3s ease-in-out 0s infinite alternate;
}

@keyframes anim-ring-1 {
    0% {
        transform: translateY(-20%);
    }

    100% {
        transform: translateY(20%);
    }
}

@keyframes anim-ring-2 {
    0% {
        transform: translate(-20%, -20%);
    }

    100% {
        transform: translate(20%, 20%);
    }
}

@keyframes anim-ring-3 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
