.appbar__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.appbar__tracker {
    width: 1px;
    height: 1px;
}

.appbar {
    width: 100%;
    min-height: var(--size-min-appbar-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;

    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .logo {
        height: 36px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    .hamburger {
        all: unset;
        color: var (--colors-on-background);
        display: none;
    }

    &[data-fixed="true"] {
        background: var(--colors-surface);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 4;
    }
}

.service {
    color: white;
    padding: 8px 4px;
}

.menu_drawer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.5rem;
    position: relative;
    padding: 2.5rem 24px 24px 24px;

    .close_btn {
        all: unset;
        background-color: transparent;
        color: var(--colors-on-surface);
        position: absolute;
        right: 2px;
        top: 2px;
        width: 56px;
        height: 56px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .heading {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .heading_title {
        font-size: 21px;
    }

    .heading_description {
        font-size: 16px;
    }

    .section_title {
        font-size: 18px;
    }

    .contacts {
        @extend .heading;
        gap: 16px;
    }

    .contact {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;

        font-size: 14px;
    }
}

.subscribe {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;

    .subscription_text {
        font-size: 14px;
        opacity: 0.75;
    }
}

.social_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 16px;
}

.social {
    all: unset;
    background: transparent;
    fill: var(--colors-on-background);
    border: 1px solid var(--colors-on-background);
    width: 36px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: all 250ms linear;

    &:hover {
        border: 1px solid var(--colors-primary);
    }
}

@media screen and (max-width: 880px) {
    .appbar {
        padding: 24px;
    }

    .appbar .heading {
        font-size: 1.5rem !important;
    }

    .appbar .menu {
        display: none;
    }

    .appbar .hamburger {
        display: block;
    }
}
